<div class="content-wrapper">
        <div class="contentHeading borderGreen _1zgNi">
            <span class="_2NnB6">Sports</span>
        </div>
        <div class="inner-content">
                <mat-nav-list class="mat-list-items">
                        <mat-list-item [routerLink]="'/'"> 
                            <!-- <i matListIcon ><img height="24px" width="24px" src="assets/img/cards.ico"></i> -->
                            <h3 matLine >
                                <span style="color: #9aca08;
                                font-weight: 100;
                                font-size: 37px;
                                padding: 0px 5px 0px 0px;">\</span> 
                                <span style="vertical-align: super;">Teen Patti</span>
                                </h3>
                        </mat-list-item>
                        <!-- <mat-divider></mat-divider>
                        <mat-list-item [routerLink]="'/'"><i matListIcon ><img height="24px" width="24px" src="assets/img/chips.ico"></i>
                            <h3 matLine>Dus Ka Dum</h3>
                        </mat-list-item> -->
                        <mat-divider></mat-divider>
                        <mat-list-item [routerLink]="'/'">
                            <!-- <i matListIcon ><img height="24px" width="24px" src="assets/img/bakelite_roulette.ico"></i> -->
                            <h3 matLine>
                                <span style="color: #9aca08;
                                font-weight: 100;
                                font-size: 37px;
                                padding: 0px 5px 0px 0px;">\</span> 
                                <span style="vertical-align: super;">Roulette</span>
                                </h3>
                        </mat-list-item>
                </mat-nav-list>
        </div>
        </div>