<div class="content-wrapper">
        <div class="contentHeading borderGreen _1zgNi">
            <span class="_2NnB6">Sports</span>
        </div>
        <div>
                <mat-nav-list class="mat-list-items">
                        <mat-list-item [routerLink]="'/mybets'"> <i matListIcon class="fa fa-thumbs-up"></i>
                            <h3 matLine>Teen Patti</h3>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item [routerLink]="'/marketresult'"><i matListIcon class="fa fa-eye"></i>
                            <h3 matLine>Dus Ka Dum</h3>
                        </mat-list-item>
                </mat-nav-list>
        </div>
        </div>