<nav class="Bottomnav">
    <ul style="display: inline-flex">
      <li id="home"><button [routerLink]="'/home'" mat-button routerLinkActive="select" ><mat-icon>home</mat-icon><br><span>Home</span></button></li>
      <li id="sports" ><button [routerLink]="'/inplaylist'" routerLinkActive="select" mat-button><mat-icon>play_circle_outline</mat-icon><br><span>In-Play</span></button></li>
      <li id="multiMarket" ><button [routerLink]="'/sportslist'" routerLinkActive="select" mat-button><mat-icon>gamepad</mat-icon><br><span>Sports</span></button></li>
      <li id="inplay" ><button [routerLink]="'/agentlist'" routerLinkActive="select"  mat-button><mat-icon>account_tree</mat-icon><br><span>Favourites</span></button></li>
      <li id="account"><button [routerLink]="'/reportlist'" routerLinkActive="select" mat-button><mat-icon>table_chart</mat-icon><br><span>Account</span></button></li>
    </ul>
</nav>