<nav class="Bottomnav">
    <ul style="display: inline-flex">
      <li id="home"><button [routerLink]="'/home'" mat-button routerLinkActive="select" ><mat-icon class="nav-item">home</mat-icon><br><span class="nav-item">Home</span></button></li>
      <li id="inplay" ><button [routerLink]="'/inplay'" routerLinkActive="select" mat-button><mat-icon>play_circle_outline</mat-icon><br><span>Matches</span></button></li>
      <li id="sportslist" ><button [routerLink]="'/sports'" routerLinkActive="select" mat-button><mat-icon>gamepad</mat-icon><br><span>Games</span></button></li>
      <li id="favourite" ><button [routerLink]="'/favourites'" routerLinkActive="select"  mat-button><mat-icon>list_alt</mat-icon><br><span>Report</span></button></li>
      <li id="account"><button [routerLink]="'/account'" routerLinkActive="select" mat-button><mat-icon>more_vert</mat-icon><br><span>Account</span></button></li>
    </ul>
</nav>