h3 {
    // background-image: linear-gradient(-180deg,#2E4B5E 0%,#243A48 82%);
    background: #414141;
    color: #fff;
    font-size: 3.73333vw;
    line-height: 2.2;
}
.setting-block {
    font-size: 4vw;
    // color: #243A48;
    border-bottom: 1px solid #E0E6E6;
    padding: 1.86667vw 0 0 1.86667vw;
    flex-wrap: wrap;
}
.setting-block input {
    width: 26.66667vw;
    margin: 0 0 0 1.33333vw;
}

.setting-block input {
    text-align: right;
}
.setting-block dt, .setting-block dd {
    // flex: 1;
    padding: 0 1.86667vw 1.86667vw 0;
    align-items: center;
}
.setting-block dd{
    box-sizing: border-box;
    display: flex;
}
.stake-setting dt {
    flex: 1 1 100%;
}
.btn {
    // background-image: linear-gradient(-180deg,#FFFFFF 0%,#EEEEEE 89%);
    border: 1px solid #aaa;
    border-radius: 1.6vw;
    font-size: 4vw;
    font-weight: 700;
    line-height: 2.6;
    color: #1E1E1E;
    display: block;
    text-align: center;
}
.stake-setting dd {
    flex: 1 1 25%;
}
.stake-setting .btn {
    flex: 1;
    line-height: 2.2;
}
.stake-setting input {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
input {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: inset 0 0.53333vw 0 0 rgba(0,0,0,.1);
    border-radius: 1.6vw;
    color: #1E1E1E;
    font-size: 4vw;
    font-family: Helvetica,Tahoma,sans-serif;
    padding: 2.66667vw 1.86667vw;
    margin-bottom: 1.86667vw;
    -webkit-appearance: none;
}
input:focus, .input-num .typeing {
    color: #1E1E1E;
    background-color: #FFF0CA;
    box-shadow: inset 0 0.26667vw 1.33333vw rgba(161,128,45,.6);
    border-color: #BE7809;
}
.col-stake_edit a {
    width: 100%;
    line-height: 2.6;
    font-weight: 700;
    display: block;
    text-align: center;
}
.btn-edit {
    color: #243A48;
    // background: rgba(197,208,215,.4);
    border: .26667vw solid #7E97A7;
    box-shadow: inset 0 0.53333vw 0 0 rgba(255,255,255,.8);
    border-radius: 1.6vw;
}
.btn-send, .Duoexch .login {
    background-image: linear-gradient(-180deg,#464646 15%,#121212 100%);
    border-color: #000;
    color: #FFB80C;
}
.side-wrap .btn-list {
    flex: 0 0 12.8vw;
    margin-top: 1.86667vw;
}

.btn-list {
    padding: 0 1.86667vw 1.86667vw;
    display: flex;
}
.btn-list li {
    // flex: 1 1 47.2vw;
    margin-right: 1.86667vw;
    overflow: hidden;
    list-style: none;
}
.toggle-btn{
    flex: 1;
    display: flex;
}
