<mat-sidenav-container  class="example-container">
        <mat-sidenav #sidenav [mode]="Over" >
          <!-- <p>
            <mat-radio-group class="example-radio-group" [formControl]="mode">
              <label>Mode:</label>
              <mat-radio-button value="over">Over</mat-radio-button>
              <mat-radio-button value="side">Side</mat-radio-button>
              <mat-radio-button value="push">Push</mat-radio-button>
            </mat-radio-group>
          </p> -->
          <div [ngStyle]="{ 'width': innerWidth + 'px' }">
            <mat-toolbar class="bg-header">
              <mat-toolbar-row >
                  <div class="logo">
                      <img src="assets/img/orbit-1.png" alt="OrbitX">
                  </div>
                  <span class="spacer"></span>
                  <mat-icon class="icon" (click)="sidenav.toggle()">cancel</mat-icon>
              </mat-toolbar-row>
          </mat-toolbar>
                <!-- <mat-radio-group class="example-radio-group" [formControl]="mode">
                        <label>Mode:</label>
                        <mat-radio-button value="over">Over</mat-radio-button>
                        <mat-radio-button value="side">Side</mat-radio-button>
                        <mat-radio-button value="push">Push</mat-radio-button>
                </mat-radio-group> -->
                <a class="twitter-timeline" data-chrome="transparent nofooter noheader noscrollbar noborders" href="https://publish.twitter.com/?url=https%3A%2F%2Ftwitter.com%2Fcricnews07%2Flists%2Fcricket-news" data-widget-id="995326372284256258"></a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
                    <mat-toolbar class="bg-header">
                        <mat-toolbar-row class="mat-elevation-z3" style="z-index: 10;">
                            <!-- <span class="logo"><h1>ORBITX</h1></span> -->
                            
                            <div class="logo">
                              <img src="assets/img/orbit-1.png" alt="OrbitX">
                            </div>
                            <span class="spacer"></span>
                            <!-- <mat-icon class="icon" (click)="sidenav.toggle()">settings</mat-icon> -->
                            <!-- <button class="icon user-button" (click)="sidenav.toggle()" mat-button>
                              <div class="user-button-div">
                                <span>Username</span>
                                <span class="balance ng-binding" *ngIf="availBal">{{availBal | number : '1.2-2'}}</span>
                              </div>
                            </button> -->
                            <div class="simpleAccountBalance" data-tap-recogniser="true" data-widget="AccountSumaryWidget">
                              <div class="accountUsername">{{userdata?.uName}}</div>
                              <div class="accountBalance">INR {{availBal | number : '1.2-2'}}</div>
                            </div>
                            <mat-icon class="user-icon" aria-hidden="false" aria-label="Example user verified icon" >verified_user</mat-icon>
                            <!-- <mat-icon class="user-icon" aria-hidden="false" aria-label="Example user verified icon" (click)="sidenav.toggle()">verified_user</mat-icon> -->
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <div class="mat-elevation-z3" style="width: 100%;display: inline-flex;z-index: 9; background: #404040;color:#fff;padding: 2px;">
                        <!-- <span style="display: flex;">News</span> -->
                        <mat-icon>mic_none</mat-icon> 
                        <marquee id="ticker" style="color: white;vertical-align: middle;"> Welcome to orbitx.com </marquee>
                    </div>
                    <!-- <div class="marquee-box">
                      <h4>News</h4>
                      <div class="marquee"><div style="width: 100000px; transform: translateX(303px); animation: 16s linear 0s infinite normal none running marqueeAnimation-58384;" class="js-marquee-wrapper"><div class="js-marquee" style="margin-right: 0px; float: left;"> Welcome to orbitx.com</div></div></div>
                    </div> -->
                    <router-outlet style="margin-top:10px"></router-outlet>
                    <app-footer *ngIf="uservalidate!='/changepassword/1'"></app-footer>
        </mat-sidenav-content>
</mat-sidenav-container>