.bg-header{
    background: #404040
}
.icon {
    padding: 0 5px;
    color: #fff;
}
.spacer {
    flex: 1 1 auto;
}
.ticker-wrap {
    position: absolute;
    width: 100vw;
    top: 14.66667vw;
    z-index: 9;
}
.logo {
    font-family: 'Staatliches', cursive;
    // height: 100px;
    h1 {    
        font-size: 35px;
        margin-top: 10px;
        color: yellow;
        text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.41);
        text-transform: uppercase;
    }

}
span.subtitle {
    font-size: 12px;
    font-style: oblique;
    // vertical-align: text-bottom;
    vertical-align: sub;
    // margin-left: -50px;
    margin-left: -15px;
} 

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
  }

  .user-button{
    background: #099573;
    // height: 50px;
    line-height: 2;
  }
  .user-button-div{
      display: inline-grid;
      font-size: 12px;
  }
  .user-button-icon{
      margin-top: 5px;
  }
  .user-icon{
      color:white
  }

  .simpleAccountBalance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 44px;
    padding: 5px;
    color: white;
}

  .simpleAccountBalance>.accountUsername {
    text-overflow: ellipsis;
    line-height: 1;
    overflow: hidden;
    max-width: 76px;
    font-size: 11px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 2px;
}

.simpleAccountBalance>.accountBalance {
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color:#00a826
}