<div class="content-wrapper">
        <div class="game-wrap ">
            <h4 id="gameInfo" class="game-info ">
                    Cricket
                    <ul id="infoIcon" class="info-icon">
                        <li id="inPlayIcon"class="">
                            <img class="info-inplay" src="assets/img/play.ico" alt="inplay">In-Play
                        </li>
                    </ul>
            </h4>
            <table id="cricketScoreBoard"  class="game-team " data-eventid="29119662" style="display: table;">
                <tbody>
                    <tr>
                        <th>
                            <a title="Add to Multi Markets" class="pin-off"><img  src="assets/img/play.ico" alt="inplay" height="20px"></a>
                            
                            <h4  class=" ">India</h4>
                            <h4  class=" ">Bangladesh</h4>
                            <ul class="scores-time in-play">
                                <li  style="display: flex;" class=""> <span class="ui-bowler-name ">Mohammed Shami</span>&nbsp;to&nbsp;<span class="ui-batsman-name ">Mushfiqur Rahim</span>&nbsp;-&nbsp; <span class="ui-event-message " style="font-weight: bold;color: white;">No Run</span>
                                </li>
                                <li style="display: flex;"  class=" ">Day 1</li>
                            </ul>
                        </th>
                        <td id="inningsBox1"  class="team-scores ">
                        <h4  class="in-play">
                            67/3&nbsp;<span class="">(28.3)</span>
                        </h4>
                        <h4  class="">
                            153/3&nbsp;<span class="">(50)</span>
                        </h4>
                            <span>Innings 1</span>
                        </td>
                        <td class="team-refresh">
                            <a class="refresh" ><img  src="assets/img/refresh.ico" alt="inplay" height="20px"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="naviMarket" class="market-type ps ps--theme_default" >
            <ul id="naviMarketList">
               <li id="naviMarketTemaplate" style="display: none;"><a href="#"></a></li>
               <li id="naviMarket_1_165079280" style="display: list-item;" class="select"><a href="">Match Odds</a></li>
               <li id="naviMarket_1_165079566" style="display: list-item;"><a href="">Tied Match</a></li>
            </ul>
            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
               <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
               <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
            </div>
         </div>
        <div id="marketBetsWrap" class="bets-wrap ">
                <div class="limit_info-popup" style="display: none;">
            <a class="close" onclick="javascript:$j('#minMaxBox').fadeOut();">Close</a>
                    <dl>
            <dt>Min / Max</dt>
                        <dd>0 / 0</dd>
                    </dl>
                </div>
                <a class="bet-limit"  style="display: none;"></a>
                <dl class="bets-selections-head">
                    <dt>
                    <a class="a-depth" (click)="openMarketDepth(getMarketData)" id="marketDepthBtn"><img height="20px" width="20px" src="assets/img/kchart.ico">Markets Depth</a>
                    <p>
                    <span>Matched</span>
                    <strong id="totalMatched" class=""> 20,949,171</strong>
                    </p>
                    </dt>
                    <dd class="mode-land"></dd>
                    <dd class="mode-land"></dd>
                    <dd>Back</dd>
                    <dd>Lay</dd>
                    <dd class="mode-land"></dd>
                    <dd class="mode-land"></dd>
                </dl>
                <dl id="selection_11193_India" class="bets-selections ">
            <dt>
            <h4 class="">India</h4>
            <ul>
            
            
            
            
            <li id="withoutBetMktExp_11193_India" style="display: list-item;" class="win">0</li>
            <li id="withBetMktExp_11193_India" style="display: list-item;" class=""></li>
            
            
            </ul>
            </dt>
                    <dd class="suspend" style="display: none;">
                        <p>Closed</p>
                    </dd>
                    <dd class="suspend" style="display: none;">
                        <p>Non Runner</p>
                    </dd>
                    <dd class="mode-land">
            <a class="back-3 " >1.03<span class="">500,000</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="back-2 " >1.01<span class="">500,000+</span></a>
                    </dd>
                    <dd>
            <a class="back-1" >1.02<span class="">500,000+</span></a>
                    </dd>
                    <dd>
            <a class="lay-1 " >1.03<span class=""> 500,000+</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="lay-2 " >1.04<span class=""> 500,000+</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="lay-3 " >1.05<span class=""> 107,610</span></a>
                    </dd>
                </dl>
                <div id="betBoard_11193_India"  class="bet_slip-wrap" style="display: block;">
                    <div class="message-wrap" style="display: none;">
                       <div class="message">
                          <h4>The Minimun stake is $25.00</h4>
                          <p>
                             Your stake has been updated accordingly.
                          </p>
                       </div>
                       <a class="close" href="#">Close</a>
                    </div>
                    <ul class="btn-list">
                       <li>
                          <div class="input-num input-odds">
                             <a (click)="oddsDown(placeMarketData)" class="icon-minus"></a>
                             <span id="odds"  (click)="typingSign('odds',placeMarketData)" class=" typed">1.02</span>
                             <a (click)="oddsUp(placeMarketData)" class="icon-plus"></a>
                          </div>
                       </li>
                       <li>
                          <div class="input-num input-stake">
                             <a (click)="stakeDown(placeMarketData)" class="icon-minus"></a>
                             <span  (click)="typingSign('stake',placeMarketData)" class=" typeing"></span>
                             <a (click)="stakeUp(placeMarketData)" class="icon-plus"></a>
                          </div>
                       </li>
                    </ul>
                    <ul class="coin-list">
                       <li><a data-stake="1000" (click)="stakeChange(settingsData.betStake.stake1,placeMarketData)" class=""> 1000</a></li>
                       <li><a data-stake="2000" (click)="stakeChange(settingsData.betStake.stake2,placeMarketData)" class=""> 2000</a></li>
                       <li><a data-stake="3000" (click)="stakeChange(settingsData.betStake.stake3,placeMarketData)" class=""> 3000</a></li>
                       <li><a data-stake="5000" (click)="stakeChange(settingsData.betStake.stake4,placeMarketData)" class=""> 5000</a></li>
                       <li><a data-stake="10000" (click)="stakeChange(settingsData.betStake.stake5,placeMarketData)" class=""> 10000</a></li>
                       <li><a data-stake="20000" (click)="stakeChange(settingsData.betStake.stake6,placeMarketData)" class=""> 20000</a></li>
                    </ul>
                    <div class="keyboard-wrap">
                       <ul class="btn-tel">
                          <li><a (click)="buttonInput('1',placeMarketData)">1</a></li>
                          <li><a (click)="buttonInput('2',placeMarketData)">2</a></li>
                          <li><a (click)="buttonInput('3',placeMarketData)">3</a></li>
                          <li><a (click)="buttonInput('4',placeMarketData)">4</a></li>
                          <li><a (click)="buttonInput('5',placeMarketData)">5</a></li>
                          <li><a (click)="buttonInput('6',placeMarketData)">6</a></li>
                          <li><a (click)="buttonInput('7',placeMarketData)">7</a></li>
                          <li><a (click)="buttonInput('8',placeMarketData)">8</a></li>
                          <li><a (click)="buttonInput('9',placeMarketData)">9</a></li>
                          <li><a (click)="buttonInput('0',placeMarketData)">0</a></li>
                          <li><a (click)="buttonInput('00',placeMarketData)">00</a></li>
                          <li><a (click)="buttonInput('.',placeMarketData)">.</a></li>
                       </ul>
                       <a (click)="buttonDelete(placeMarketData)" class="btn-delete"></a>
                    </div>
                    <ul class="btn-list">
                       <li>
                          <a (click)="cancelBetslip()" class="btn">Cancel
                          </a>
                       </li>
                       <li>
                          <a (click)="placeMarketData.stake=='' || placeMarketData.odds==''?'':confirmBetPop(placeMarketData)" class="btn-send disable" >Place Bet
                          </a>
                       </li>
                    </ul>
                 </div>
                <dl id="selection_11193_Bangladesh" class="bets-selections ">
            <dt>
            <h4 class="">Bangladesh</h4>
            <ul>
            
            
            
            
            <li id="withoutBetMktExp_11193_Bangladesh" style="display: list-item;" class="win">0</li>
            <li id="withBetMktExp_11193_Bangladesh" style="display: list-item;" class=""></li>
            
            
            </ul>
            </dt>
                    <dd class="suspend" style="display: none;">
                        <p>Closed</p>
                    </dd>
                    <dd class="suspend" style="display: none;">
                        <p>Non Runner</p>
                    </dd>
                    <dd class="mode-land">
            <a class="back-3 " >200<span class="">230</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="back-2 " >210<span class="">170</span></a>
                    </dd>
                    <dd>
            <a class="back-1 " >220<span class="">120</span></a>
                    </dd>
                    <dd>
            <a class="lay-1 " >230<span class=""> 550</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="lay-2 " >240<span class=""> 100</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="lay-3 " >250<span class=""> 1,170</span></a>
                    </dd>
                </dl>
                <dl id="selection_11193_The_Draw"  class="bets-selections ">
            <dt>
            <h4 class="">The Draw</h4>
            <ul>
            
            
            
            
            <li id="withoutBetMktExp_11193_The_Draw" style="display: list-item;" class="win">0</li>
            <li id="withBetMktExp_11193_The_Draw" style="display: list-item;" class=""></li>
            
            
            </ul>
            </dt>
                    <dd class="suspend" style="display: none;">
                        <p>Closed</p>
                    </dd>
                    <dd class="suspend" style="display: none;">
                        <p>Non Runner</p>
                    </dd>
                    <dd class="mode-land">
            <a class="back-3 " >44<span class="">1,450</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="back-2 " >46<span class="">2,240</span></a>
                    </dd>
                    <dd>
            <a class="back-1 " >48<span class="">630</span></a>
                    </dd>
                    <dd>
            <a class="lay-1 " >55<span class=""> 900</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="lay-2 " >60<span class=""> 920</span></a>
                    </dd>
                    <dd class="mode-land">
            <a class="lay-3 " >65<span class=""> 1,270</span></a>
                    </dd>
                </dl>
                <div class="no-data" style="display: none;">
                    <h3>This race has ended</h3>
                    <p></p>
                </div>
        </div>
        <div id="fancyBetTable_29119662"  class="">
            <!-- <div id="fancyBetHead" class="fancy_bet-head" >
               <h4 class="in-play">
                  <a  title="Add to Multi Markets" (click)="isMultiAdded(getMarketData.matchBfId)?addMultiMarket(getMarketData.matchBfId):removeMultiMarket(getMarketData.matchBfId)" class="pin-off">Pin to Muilti Markets</a>
                  <span>
                     <pre>in-play</pre>
                     Fancy Bet
                  </span>
                  <a class="btn-fancybet_rules" (click)="showOverlayInfo('fancyBetRulesWrap')">Rules</a>
               </h4>
            </div> -->
            <div id="fancyBetWrap" class="bets-wrap multi fancy" >
               <dl id="marketHead" class="bets-selections-head">
                  <dt id="fancyBetNoBet" style="display: none;"></dt>
                  <dt>Fancy Bet</dt>
                  <dd>No</dd>
                  <dd>Yes</dd>
                  <dd class="mode-land"></dd>
               </dl>
               <div class="fancy-bet ">
                  <h4>
                     <span id="marketName" >M Rahim run 2</span>
                     <a href="#" id="open-fancy_info" class="btn-fancy_info"></a>
                     <div id="fancy_popup2" class="fancy_info-popup">
                        <dl>
                            <dt>Min / Max</dt>
                            <dd id="minMax"> 2.00 /  2,500.00</dd>
                        </dl>
                         <dl>
                            <dt id="rebateName" style="display: none;">Rebate</dt>
                            <dd id="rebate" style="display: none;"></dd>
                        </dl>
                        <a href="#" id="close-fancy_info" class="close">Close</a>
                    </div>
                  </h4>
                  <dl id="fancyBetMarket_123247" class="bets-selections" style="display: flex;border-top: 1px solid #e4dfdf;">
                     <dt class="line_market-selection">
                        <ul>
                           <li id="beforeFancyExpo_123247" style="display: flex;"><span></span></li>
                           <li id="afterFancyExpo_123247" style="display: -webkit-inline-box;"><span></span></li>
                        </ul>
                        <a id="fancyBetBookBtn_123247" class="btn-book" (click)="getFancyBook(matchId,fancy.id,fancy.name)" style="display: none;">Book</a>
                     </dt>
                     <dd>
                        <a class="lay-1 " (click)="fancy.ballStatus!='' || fancy.noScore==''?'':openFancyBetSlip($event,'No',fancy.noScore,fancy.noRate,fancy.name,fancy.id,matchId,bfId)">43<span class="">105</span></a>
                     </dd>
                     <dd>
                        <a class="back-1 " (click)="fancy.ballStatus!='' || fancy.yesScore==''?'':openFancyBetSlip($event,'Yes',fancy.yesScore,fancy.yesRate,fancy.name,fancy.id,matchId,bfId)">43<span class="">85</span></a>
                     </dd>
                     <dd class="mode-land">
                        <a (click)="openCloseFancyInfo(fancy)" class="btn-fancy_info">fancybet info</a>
                        <div id="fancy_popup_123247" class="fancy_info-popup" data-ng-style="{'display':(fancyInfo==undefined)?'':(fancy.id==fancyInfo.id)?'flex':'none'}">
                           <dl>
                              <dt>Min / Max</dt>
                              <dd id="minMax" class=""> 500.00 / 100,000.00</dd>
                           </dl>
                           <a id="close-fancy_info__123247" (click)="openCloseFancyInfo()" class="close">Close</a>
                        </div>
                     </dd>
                  </dl>
               </div>
               <div class="fancy-bet ">
                  <h4>
                     <span id="marketName" class="">Fall of 6th wkt BAN 2</span>
                  </h4>
                  <dl id="fancyBetMarket_123254" class="bets-selections" style="display: flex;border-top: 1px solid #e4dfdf;">
                     <dt class="line_market-selection">
                        <ul>
                           <li id="beforeFancyExpo_123254" style="display: flex;"><span></span></li>
                           <li id="afterFancyExpo_123254" style="display: -webkit-inline-box;"><span></span></li>
                        </ul>
                        <a id="fancyBetBookBtn_123254" class="btn-book" (click)="getFancyBook(matchId,fancy.id,fancy.name)" style="display: none;">Book</a>
                     </dt>
                     <dd>
                        <a class="lay-1 " (click)="fancy.ballStatus!='' || fancy.noScore==''?'':openFancyBetSlip($event,'No',fancy.noScore,fancy.noRate,fancy.name,fancy.id,matchId,bfId)">127<span class="">110</span></a>
                     </dd>
                     <dd>
                        <a class="back-1 " (click)="fancy.ballStatus!='' || fancy.yesScore==''?'':openFancyBetSlip($event,'Yes',fancy.yesScore,fancy.yesRate,fancy.name,fancy.id,matchId,bfId)">127<span class="">90</span></a>
                     </dd>
                     <dd id="suspend" class="suspend-fancy" style="display: flex;"><p id="info">Ball Running</p></dd>
                     <dd class="mode-land">
                        <a (click)="openCloseFancyInfo(fancy)" class="btn-fancy_info"></a>
                        <div id="fancy_popup_123254" class="fancy_info-popup">
                           <dl>
                              <dt>Min / Max</dt>
                              <dd id="minMax" class=""> 500.00 / 100,000.00</dd>
                           </dl>
                           <a id="close-fancy_info__123254" (click)="openCloseFancyInfo()" class="close">Close</a>
                        </div>
                     </dd>
                  </dl>
               </div>
               <div class="fancy-bet ">
                  <h4>
                     <span id="marketName" class="">L Das run 2</span>
                  </h4>
                  <dl id="fancyBetMarket_123255" class="bets-selections" style="display: flex;border-top: 1px solid #e4dfdf;">
                     <dt class="line_market-selection">
                        <ul>
                           <li id="beforeFancyExpo_123255" style="display: flex;"><span></span></li>
                           <li id="afterFancyExpo_123255" style="display: -webkit-inline-box;"><span></span></li>
                        </ul>
                        <a id="fancyBetBookBtn_123255" class="btn-book" (click)="getFancyBook(matchId,fancy.id,fancy.name)" style="display: none;">Book</a>
                     </dt>
                     <dd>
                        <a class="lay-1 " (click)="fancy.ballStatus!='' || fancy.noScore==''?'':openFancyBetSlip($event,'No',fancy.noScore,fancy.noRate,fancy.name,fancy.id,matchId,bfId)">39<span >110</span></a>
                     </dd>
                     <dd>
                        <a class="back-1 " (click)="fancy.ballStatus!='' || fancy.yesScore==''?'':openFancyBetSlip($event,'Yes',fancy.yesScore,fancy.yesRate,fancy.name,fancy.id,matchId,bfId)">39<span >90</span></a>
                     </dd>
                     <dd class="mode-land">
                        <a (click)="openCloseFancyInfo(fancy)" class="btn-fancy_info"></a>
                        <div id="fancy_popup_123255" class="fancy_info-popup" >
                           <dl>
                              <dt>Min / Max</dt>
                              <dd id="minMax" class=""> 500.00 / 100,000.00</dd>
                           </dl>
                           <a id="close-fancy_info__123255" (click)="openCloseFancyInfo()" class="close">Close</a>
                        </div>
                     </dd>
                  </dl>
               </div>
               <div class="fancy-bet ">
                  <h4>
                     <span id="marketName" class="">35 over run BAN 2</span>
                  </h4>
                  <dl id="fancyBetMarket_123257" class="bets-selections" style="display: flex;border-top: 1px solid #e4dfdf;">
                     <dt class="line_market-selection">
                        <ul>
                           <li id="beforeFancyExpo_123257" style="display: flex;"><span></span></li>
                           <li id="afterFancyExpo_123257" style="display: -webkit-inline-box;"><span></span></li>
                        </ul>
                        <a id="fancyBetBookBtn_123257" class="btn-book" (click)="getFancyBook(matchId,fancy.id,fancy.name)" style="display: none;">Book</a>
                     </dt>
                     <dd>
                        <a class="lay-1 " (click)="fancy.ballStatus!='' || fancy.noScore==''?'':openFancyBetSlip($event,'No',fancy.noScore,fancy.noRate,fancy.name,fancy.id,matchId,bfId)">115<span >115</span></a>
                     </dd>
                     <dd>
                        <a class="back-1 " (click)="fancy.ballStatus!='' || fancy.yesScore==''?'':openFancyBetSlip($event,'Yes',fancy.yesScore,fancy.yesRate,fancy.name,fancy.id,matchId,bfId)">115<span >85</span></a>
                     </dd>
                     <dd class="mode-land">
                        <a (click)="openCloseFancyInfo(fancy)" class="btn-fancy_info"></a>
                        <div id="fancy_popup_123257" class="fancy_info-popup" >
                           
                           <dl>
                              <dt>Min / Max</dt>
                              <dd id="minMax" class=""> 500.00 / 100,000.00</dd>
                           </dl>
                           <a id="close-fancy_info__123257" (click)="openCloseFancyInfo()" class="close">Close</a>
                        </div>
                     </dd>
                  </dl>
               </div>
            </div>
         </div>
    </div>