<mat-drawer-container class="example-container" >
        <mat-drawer #drawer [mode]="mode.value">
          <div [ngStyle]="{ 'width': innerWidth + 'px' }">
            <mat-toolbar class="bg-header">
              <mat-toolbar-row >
                  <span></span>
                  <span class="spacer"></span>
                  <mat-icon class="icon" (click)="drawer.toggle()">cancel</mat-icon>
              </mat-toolbar-row>
          </mat-toolbar>
          </div>
        </mat-drawer>
        <mat-drawer-content>
                    <mat-toolbar class="bg-header">
                        <mat-toolbar-row [class.mat-elevation-z8]="true" >
                            <span></span>
                            <span class="spacer"></span>
                            <button class="icon user-button" (click)="drawer.toggle()" mat-button>
                              <div class="user-button-div">
                                <i class="fa fa-user user-button-icon"></i>
                                <span class="balance ng-binding">12,772.20</span>
                              </div>
                            </button>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <router-outlet></router-outlet>
                    <app-footer></app-footer>
        </mat-drawer-content>
</mat-drawer-container>
<!-- <mat-toolbar class="bg-header">
  <mat-toolbar-row [class.mat-elevation-z8]="true" >
      <span></span>
      <span class="spacer"></span>
      <button class="icon user-button" (click)="drawer.toggle()" mat-button>
        <div class="user-button-div">
          <i class="fa fa-user user-button-icon"></i>
          <span class="balance ng-binding">12,772.20</span>
        </div>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
