<div id="loginBackground" fxLayout="column" fxLayoutAlign="center center">
        <div id="loginRoot" fxLayout="column" fxLayoutAlign="center center">
            <div id="formRoot">
                <form fxLayout="column" #loginForm [formGroup]="loginform" (ngSubmit)="onSubmit()" fxLayoutAlign="center center" fxLayoutGap="20px">
                    <div class="logo">
                        <img src="assets/img/orbit-1.png" alt="OrbitX">
                    </div>
                    <div class="input-group">
                        <input class="form-input" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" type="text" name="username" id="username" placeholder="Username"
                            autocomplete="off">
                        <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <p>{{ getUsernameErrors() }} </p>
                        </div> -->
                    </div>
                    <div class="input-group">
                        <input class="form-input" formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" name="pwd" id="pwd" placeholder="Password">
                        <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <p> {{ getPasswordErrors() }} </p>
                        </div> -->
                    </div>
                    
                    <button type="submit" class="btn btn-width" [ngClass]="loginform.valid? 'raised': ''" [disabled]="!loginform.valid">Login</button>
                    <!-- <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">Remember me!</label>
                    </div> -->
                </form>

            </div>
        </div>
</div>