<div class="content-wrapper">
        <div class="contentHeading borderGreen _1zgNi">
           <span class="_2NnB6">Market Wise Profit Loss</span>
        </div>
        <div class="inner-content">
           <div class="reports-datepicker">
              <input type="text" (bsValueChange)="profitandloss($event)"
                 placeholder="Select Date Here..."
                 class="form-control"
                 [bsConfig]="{ rangeInputFormat: 'DD-MM-YYYY', containerClass: 'theme-default',isAnimated: true }"
                 bsDaterangepicker
                 readonly>  
              <div class="date-icon">
                 <i class="fa fa-calendar"></i>
              </div>
           </div>
           <div class="reports-table">
              <mat-form-field class="search-form-field" floatLabel="never">
                 <input matInput  id="filter-text-box" placeholder="Search" autocomplete="off" (keyup)="onFilterTextBoxChanged()" >
              </mat-form-field>
              <mat-form-field class="select-page-size">
                 <mat-label>Page Size</mat-label>
                 <select matNativeControl (change)="onPageSizeChanged()" id="page-size">
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                 </select>
              </mat-form-field>
              <ag-grid-angular 
              style="width: 100%; height: 400px;" 
              class="ag-theme-balham"     
              [gridOptions]="gridOptions"
              [headerHeight]="headerHeight"
              [defaultColDef]="defaultColDef"
              [rowData]="rowData" 
               [overlayLoadingTemplate]="overlayLoadingTemplate"
               [overlayNoRowsTemplate]="overlayNoRowsTemplate"
              [animateRows]="true"
              [pagination]="true"
              (gridReady)="onGridReady($event)"
              >
              </ag-grid-angular>
           </div>
        </div>
</div>