@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: #f3f3f4 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
