@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import 'https://fonts.googleapis.com/css?family=Roboto:200,400,700&display=swap';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/* You can add global styles to this file, and also import other style files */

html,body { margin: 0;height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif; color:#fff;}
.mat-drawer-container{
    background: #fff;
    color: #000;
}
.hidden-nav{
    display: none;
}
//Content Holder Div css
.content-wrapper{
    height: auto;
    margin-top: 2px;
    padding:0px 0px 60px 0px;
}
//inner Content css
.inner-content{
    padding: 5px 5px;
}
//profit and loss
.profit{
    color:green;
}
.loss{
    color:red;
}
.submit{
    background-color: #00b489;
    color: #fff;
    font-weight: 600;
}
.button-bottom{
    text-align: center;
}
.button-bottom button{
    margin-left: 5px;
    width: 100px;
}
/*Notification css*/
snack-bar-container.success{
    background-color: #5cb55c;
    color: #fff;
  }
  snack-bar-container.error{
    background-color: #b90e0e;
    color: #fff;
  }
  snack-bar-container.warning{
    background-color: #c4aa1c;
    color: #fff;
  }
  snack-bar-container.notification simple-snack-bar{
    font-size: 18px !important;
    font-weight:bold;
  }
//button focus border css
button:focus {
    // outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

//toggle button css
.mat-slide-toggle-bar {
    background-color: rgba(78, 240, 214, 0.56) !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #00b489 !important;
}
//tab css material
@media (max-width: 599px){
    .mat-tab-label{
        width: 33.33% !important;
    }
}
.mat-tab-header{
    // background: #00b489;
    background-color: #444;
}
.mat-tab-label{
    color: #fff;
}
.mat-tab-label-active{
    color: #00a826;
    opacity: 1.5 !important;
}
.mat-tab-group {
    height: 100%;
}
.mat-ink-bar {
    height: 3px !important;
}
.mat-tab-group.mat-primary .mat-ink-bar{
    // background:#fff;
    background:#00a826;
}
.mat-expansion-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px !important;
    border-radius: inherit;
}
.mat-expansion-panel-header-title {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//accordion css material
.mat-expansion-panel-body {
    padding: 0 12px 8px !important;
}

//Page content header Css
.contentHeading {
    background-color: #000;
    color: #fff;
    min-height: 42px;
    font-size: 15px;
    font-weight: 700;
    padding: 0 15px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
}
.contentHeading.borderGreen {
    border-bottom: 3px solid #00a826;
    line-height: 41px;
}
.contentHeading {
    border-radius: 0;
    height: 30px;
}
._1zgNi {
    display: inline-flex;
}

.logo {
    img {
        width: 70%;
    }
}

//mat list css for listing elements
.mat-list-base {
    padding-top: 0px !important;
}
.mat-list-items{
    background: #222222;
    margin: 5px 0px;
    
}
.mat-nav-list .mat-list-item {
    color: #fff;margin-bottom: 3px;
}
.mat-divider {
    border-top-color: rgba(192, 185, 185, 0.46);
}
.account-overview .login-name {
    margin: 0 10px;
    // padding: 15px 0 19px;
    padding: 0px 0 5px;
    font-weight: 700;
    // border-bottom: 2px solid #00a826;
    border-bottom: 2px solid #00a826;
    text-align: center;
    font-size: 20px;
    color: #000;
}
.account-overview .menu-item {
    border-bottom: 2px solid #00a826;
    // border-bottom: 2px solid #00a826;
    margin: 0 10px;
    color: #000;
    /* padding: 0 5px 9px 10px; */
}
.account-overview .menu-item .label {
    font-weight: 700;
    font-size: 16px;
    margin: 11px 0 25px;
}
.account-overview .menu-item .content .group {
    width: 100%;
    display: inline-block;
}
.account-overview .menu-item .content .group div {
    float: left;
    margin-bottom: 10px;
}
.account-overview .menu-item .content .group span {
    float: right;
}

//reports table and datepicker css
.reports-datepicker{
    display: flex;
}
.date-icon{
    position: absolute;
    right: 15px;
    color: #00b489;
    margin-top: 5px;
}
::ng-deep .mat-form-field {
    .mat-input-element {
        color:#fff;
    }
    .mat-form-field-label {
        color:#fff;
    }
    .mat-form-field-underline {
        background-color:#fff;
    }
    .mat-form-field-ripple {
        background-color:#fff;
    }
    .mat-form-field-required-marker {
        color:#fff;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color:#00b489;
    }
    .mat-form-field-ripple {
        background-color:#00b489;
    }
    .mat-form-field-required-marker {
        color:#00b489;
    }
    .mat-input-element {
        color:#00b489;
    }
}
.select-page-size{
    width:75px;
    float: right;
  }
.back {
    color: #1F72AC!important;
}
.lay {
    color: #E33A5E!important;
}
.reports-table{
    padding: 10px;
}


//highlight odds css

.back-1.spark {
    animation: sparkBack 0.6s ease
}

@keyframes sparkBack {
    0% {
        background-color: #72BBEF;
        color: #1E1E1E
    }

    50% {
        background-color: #72BBEF;
        color: #fff
    }

    100% {
        background-color: #72BBEF;
        color: #1E1E1E
    }
}

.back-2.spark {
    animation: sparkBack_2 0.6s ease
}

@keyframes sparkBack_2 {
    0% {
        background-color: #B7D5EB;
        color: #1E1E1E
    }

    50% {
        background-color: #B7D5EB;
        color: #fff
    }

    100% {
        background-color: #B7D5EB;
        color: #1E1E1E
    }
}

.back-3.spark {
    animation: sparkBack_3 0.6s ease
}

@keyframes sparkBack_3 {
    0% {
        background-color: #D7E8F4;
        color: #1E1E1E
    }

    50% {
        background-color: #D7E8F4;
        color: #fff
    }

    100% {
        background-color: #D7E8F4;
        color: #1E1E1E
    }
}

.lay-1.spark {
    animation: sparkLay 0.6s ease
}

@keyframes sparkLay {
    0% {
        background-color: #FAA9BA;
        color: #1E1E1E
    }

    50% {
        background-color: #FAA9BA;
        color: #fff
    }

    100% {
        background-color: #FAA9BA;
        color: #1E1E1E
    }
}

.lay-2.spark {
    animation: sparkLay_2 0.6s ease
}

@keyframes sparkLay_2 {
    0% {
        background-color: #EFD3D9;
        color: #1E1E1E
    }

    50% {
        background-color: #EFD3D9;
        color: #fff
    }

    100% {
        background-color: #EFD3D9;
        color: #1E1E1E
    }
}

.lay-3.spark {
    animation: sparkLay_3 0.6s ease
}

@keyframes sparkLay_3 {
    0% {
        background-color: #F6E6EA;
        color: #1E1E1E
    }

    50% {
        background-color: #F6E6EA;
        color: #fff
    }

    100% {
        background-color: #F6E6EA;
        color: #1E1E1E
    }
}

//search box overlay css
.searchButtonWrapper {
    position: fixed;
    bottom: 70px;
    right: 18px;
    z-index: 1000;
}
.mat-list-item-content i{
    // color:#00a826;
    color:#00a826;
}

.overlay {
    position: absolute;
    // height: 100vh;
    height: auto;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;

    &.dark {
        background: rgba(0, 0, 0, 0.61);
    }
    
    &.light {
        background: rgba(255, 255, 255, 1);
    }
}

#searchForm {
    position: relative;
    display: flex;
    height: 9vh;
    z-index: 1;

    button, input {
        outline: none;
        background: #fff;
        border: none;
        height: 98%;
    }

    button {
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .mat-icon, & > button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search-back {
    width: 40px;
    padding-left: 10px;
    left: 0;
}
.search-clear {
    right: 40px;
}
.search-collapse {
    width: 40px;
    right: 0;
}
.search-input {
    position: relative;
    width: 100%;
    padding-left: 48px;
}

.no-matching {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}