@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
/* You can add global styles to this file, and also import other style files */

html,body { margin: 0;height: 100%; font-family: Roboto, "Helvetica Neue", sans-serif; color:#fff;}
.mat-drawer-container{
    background: #000;
}
//Content Holder Div css
.content-wrapper{
    padding:0px 0px 60px 0px;
}
//profit and loss
.profit{
    color:green;
}
.loss{
    color:red;
}

//tab css material
@media (max-width: 599px){
    .mat-tab-label{
        width: 33.33% !important;
    }
}
.mat-tab-header{
    background: #00b489;
}
.mat-tab-label{
    color: #fff;
}
.mat-tab-label-active{
    color: #fff;
    opacity: 1.5 !important;
}
.mat-tab-group.mat-primary .mat-ink-bar{
    background:#fff;
}

//accordion css material
.mat-expansion-panel-body {
    padding: 0 12px 8px !important;
}