<!-- <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Cricket
        </mat-panel-title>
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-card class="card">
          <mat-card-header>
              <div mat-card-avatar><mat-icon><i class="fa fa-circle"></i></mat-icon></div>
            <mat-card-title>Sydney Sixers WBBL v Brisbane Heat WBBL</mat-card-title>
            <mat-card-subtitle>In-Play</mat-card-subtitle>
            <div><mat-icon>favorite_border</mat-icon></div>
          </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
              <div mat-card-avatar><mat-icon><i class="fa fa-circle" aria-hidden="true"></i></mat-icon></div>
            <mat-card-title>West Indies Women v India Women</mat-card-title>
            <mat-card-subtitle>In-Play</mat-card-subtitle>
            <div><mat-icon>favorite_border</mat-icon></div>
          </mat-card-header>
        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Soccer
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Sydney Sixers WBBL v Brisbane Heat WBBL</mat-card-title>
            <mat-icon>favorite_border</mat-icon>
            <mat-card-subtitle>In-Play</mat-card-subtitle>
          </mat-card-header>
      </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tennis
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Sydney Sixers WBBL v Brisbane Heat WBBL</mat-card-title>
              <mat-icon>favorite_border</mat-icon>
              <mat-card-subtitle>In-Play</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
      </mat-expansion-panel>
  </mat-accordion> -->
<div class="content-wrapper">
  <div class="flex-row flex-row-container-guttering felxSteps">
      <div class=" col--xs-12 col--sm-12 col--md-12 col--lg-12">
          <!-- <h3 class="flex-row--title">3 Quick and Secure Steps To Get Your Welcome Bonus</h3> -->
          <div class="flex-row flex-row--gutterless felxSteps__inner">
                  <div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 felxSteps__inner__item">
                      <a>
                          <h3>1<span>\</span></h3>
                          <div>
                              <h4>Username</h4>
                              <p>{{userdesc}}</p>
                          </div>
                      </a>
                  </div>
                  <div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 felxSteps__inner__item">
                      <a >
                          <h3>2<span>\</span></h3>
                          <div>
                              <h4>Balance</h4>
                              <p style="color: #00a826;">₹ {{balance | number : '1.2-2'}}</p>
                          </div>
                      </a>
                  </div>
                  <div class="col col--xs-12 col--sm-12 col--md-4 col--lg-4 felxSteps__inner__item">
                      <a>
                          <h3>3<span>\</span></h3>
                          <div>
                              <h4>Exposure</h4>
                              <p [ngClass]="(exposure >= 0)?'text-success':'text-danger'">{{exposure | number : '1.2-2'}}</p>
                          </div>
                      </a>
                  </div>
          </div>
      </div>
  </div>
  <!-- <carousel>
    <slide>
      <div class="text-center  bg-dark text-white">
        <div class="lead">
         <img src="/assets/img/slider/img.jpg" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center  bg-dark text-white">
        <div class="lead">
         <img src="/assets/img/slider/img1.png" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center  bg-dark text-white">
        <div class="lead">
         <img src="/assets/img/slider/img2.jpg" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center  bg-dark text-white">
        <div class="lead">
         <img src="/assets/img/slider/img3.jpg" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center  bg-dark text-white">
        <div class="lead">
          <img src="/assets/img/img1.jpg" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center  bg-dark text-white">
        <div class="lead">
          <img src="/assets/img/img2.jpg" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center bg-dark text-white">
        <div class="lead">
          <img src="/assets/img/img3.png" height="200px" width="100%">
        </div>
      </div>
    </slide>
    <slide>
      <div class="text-center bg-dark text-white">
        <div class="lead">
          <img src="/assets/img/img4.jpg" height="200px" width="100%">
        </div>
      </div>
    </slide>
  </carousel> -->

  <!-- <app-search></app-search> -->
  <div class="Inplay-Events">
    <h4>Inpaly Events</h4>
  </div>

  <div class="home-page ion-content event-page content content-md" padding="">
    <div class="fixed-content   "></div>
    <div class="scroll-content ">
      <section>
        <div class="in-play page-title">
          <!-- <i class="fa fa-play-circle"></i>
  
                  <span class="label">In Play</span> -->
        </div>
        <!-- <div class="in-play page-title item-block inplayPageTitle" >
  
                  <p class="noMatchFoundtitle">No In play Matches.</p>
  
              </div>
              <div class="in-play page-title item-block inplayPageTitle" >
  
                  <p class="noMatchFoundtitle">Loading...</p>
  
              </div> -->
        <!-- <a > <span class="open-bets-link">Open Bets (0)</span>
        </a> -->
        <div class="distinct ion-list market-list list list-md" *ngIf="inplayData.length!=0">
          <div *ngFor="let upcoming of inplayData | sortByDate:'matchDate';trackBy:identify">
              <div *ngIf="upcoming.SportbfId===4" class="market-list-item ion-item item item-block item-md" style="background: #404040;margin-bottom: 2px;">
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <div class="label ion-label label-md">
                        <a class="" (click)="appcharge(upcoming.SportbfId,upcoming.TourbfId,upcoming.matchId,upcoming.marketId,upcoming.mtBfId,upcoming.bfId,upcoming.hasbookmaker)" >
                          <div class="popular-event">
                            <div class="event-details"> 
                              <!-- <i><img height="20px" width="20px" src="assets/img/cricket.png"></i> -->
                              <div>
                                <span class="label-slash-cricket">\</span>
                              </div>
                              <div class="event-container">
                                <span class="label">{{upcoming.matchName}}</span>
                                <div class="date-info"> 
                                  <div class="status">
                                    <div class="live-icon shine">Live</div>
                                  </div>
                                  <div class="status" *ngIf="upcoming.hasFancy === 1">
                                    <div class="fancy-icon shine">Fancy</div>
                                  </div>
                                  <!-- <div class="status" *ngIf="upcoming.hasbookmaker === 1">
                                    <div class="BM-icon shine">book maker</div>
                                  </div> -->
                                </div>
                              </div>
                            </div>
                            <!-- <div class="in-upcomming-icon"> <i class="fa fa-clock-o fa-2"></i>
                            </div> -->
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="button-effect"></div>
              </div>
          </div>
          <div *ngFor="let upcoming of inplayData | sortByDate:'matchDate';trackBy:identify">
              <div *ngIf="upcoming.SportbfId===1" class="market-list-item ion-item item item-block item-md" style="background: #404040;margin-bottom: 2px;">
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <div class="label ion-label label-md">
                        <a class="" (click)="appcharge(upcoming.SportbfId,upcoming.TourbfId,upcoming.matchId,upcoming.marketId,upcoming.mtBfId,upcoming.bfId,upcoming.hasbookmaker)">
                          <div class="popular-event">
                            <div class="event-details"> 
                              <!-- <i><img height="20px" width="20px" src="assets/img/soccer_ball.ico"></i> -->
                              <div>
                                <span class="label-slash-soccer">\</span>
                              </div>
                              <div class="event-container">
                                <span class="label">{{upcoming.matchName}}</span>
                                <div class="date-info"> 
                                  <div class="status">
                                    <div class="live-icon shine">Live</div>
                                  </div>
                                </div>
                              </div>
                              <!-- <span class="label ">{{upcoming.matchName}}</span>
                              <p class="date-info"> <span class="">{{upcoming.matchDate}}</span></p> -->
                            </div>
                            <!-- <div class="in-upcomming-icon"> <i class="fa fa-clock-o fa-2"></i>
                            </div> -->
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="button-effect"></div>
              </div>
          </div>
          <div  *ngFor="let upcoming of inplayData | sortByDate:'matchDate';trackBy:identify">
              <div *ngIf="upcoming.SportbfId===2" class="market-list-item ion-item item item-block item-md" style="background: #404040;margin-bottom: 2px;">
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <div class="label ion-label label-md">
                        <a class="" (click)="appcharge(upcoming.SportbfId,upcoming.TourbfId,upcoming.matchId,upcoming.marketId,upcoming.mtBfId,upcoming.bfId,upcoming.hasbookmaker)">
                          <div class="popular-event">
                            <div class="event-details"> 
                              <!-- <i><img height="20px" width="20px" src="assets/img/tennis_ball.ico"></i> -->
                              <div>
                                <span class="label-slash-tennis">\</span>
                              </div>
                              <div class="event-container">
                                <span class="label">{{upcoming.matchName}}</span>
                                <div class="date-info"> 
                                  <div class="status">
                                    <div class="live-icon shine">Live</div>
                                  </div>
                                </div>
                              </div>
                              <!-- <span class="label ">{{upcoming.matchName}}</span> -->
                              <!-- <p class="date-info"> <span class="">{{upcoming.matchDate}}</span></p> -->
                            </div>
                            <!-- <div class="in-upcomming-icon"> <i class="fa fa-clock-o fa-2"></i>
                            </div> -->
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="button-effect"></div>
              </div>
          </div>
        </div>
        <div class="distinct ion-list market-list list list-md no-data-found" *ngIf="inplayData.length==0">
          <h5>No Inplay Matches...</h5>
        </div>
      </section>
    </div>
  </div>
</div>