<div class="content-wrapper"> 
    <div class="account-overview">
        <p class="login-name ">{{uname}}</p>
        <div class="menu-item">
            <p class="label"> 	<i matListIcon class="fa fa-university"></i>&nbsp;
                <span>Balance Information</span>
            </p>
            <div class="content">
                <div class="group">
                    <div>Available Credit:</div> <span><strong [ngClass]="(availBal >= 0)?'text-success':'text-danger'" >{{availBal | number : '1.2-2'}}</strong></span>
                </div>
                <div class="group">
                    <div>Credit Limit:</div> <span [ngClass]="(credit >= 0)?'text-success':'text-danger'" >{{credit | number : '1.2-2'}}</span>
                </div>
                <div class="group">
                    <div>Winnings:</div> <span [ngClass]="(cash >= 0)?'text-success':'text-danger'">{{cash | number : '1.2-2'}}</span>
                </div>
                <div class="group">
                    <div>Net Exposure:</div> <span [ngClass]="(exposure >= 0)?'text-success':'text-danger'" >{{exposure | number : '1.2-2'}}</span>
                </div>
            </div>
        </div>
    </div>
    <mat-nav-list class="mat-list-items">
        <mat-list-item [routerLink]="'/mybets'"> <i matListIcon class="fa fa-thumbs-up"></i>
            <h3 matLine>My Bets</h3>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="mat-list-items">
        <mat-list-item [routerLink]="'/activity'"> <i matListIcon class="fa fa-info-circle"></i>
            <h3 matLine>Activity Log</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="'/marketresult'"><i matListIcon class="fa fa-eye"></i>
            <h3 matLine>Market Result</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="'/editstake'"><i matListIcon class="fa fa-cogs"></i>
            <h3 matLine>Setting</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="'/changepassword'"> <i matListIcon class="fa fa-lock"></i>
            <h3 matLine>Change Password</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item [routerLink]="'/rules'"> <i matListIcon class="fa fa-file-text"></i>
            <h3 matLine>Rules & Regulations</h3>
        </mat-list-item>
    </mat-nav-list>
    <mat-nav-list class="mat-list-items">
        <mat-list-item (click)="Logout()"> <i matListIcon class="fa fa-sign-out"></i>
            <h3 matLine>Logout</h3>
        </mat-list-item>
    </mat-nav-list>
</div>