<mat-nav-list  class="bottom-sheet-nav-list">
    <mat-list-item [routerLink]="'/betting'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Betting</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/fancy'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Fancy</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/bookmaker'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Book Maker</h3>
    </mat-list-item>
</mat-nav-list>

<mat-nav-list  class="bottom-sheet-nav-list">
    <mat-list-item [routerLink]="'/betting'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Betting</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/fancy'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Fancy</h3>
    </mat-list-item>
</mat-nav-list>

<mat-nav-list  class="bottom-sheet-nav-list">
    <mat-list-item [routerLink]="'/betting'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Betting</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/fancy'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Fancy</h3>
    </mat-list-item>
    <mat-list-item [routerLink]="'/bookmaker'">
      <i matListIcon class="fa fa-thumbs-up"></i>
      <h3 matLine>Book Maker</h3>
    </mat-list-item>
</mat-nav-list>