<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="tab-icon">thumb_up</mat-icon> -->
        In-play
      </ng-template>
      Content 1
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        Today
      </ng-template>
      Content 2
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">thumb_up</mat-icon>
        Tommorrow
      </ng-template>
  
      Content 3
    </mat-tab>
  </mat-tab-group>