<div class="content-wrapper ion-page">
    <mat-tab-group
    (selectedTabChange)="tabChange($event)"
    [(selectedIndex)]="selectedIndex"
    [(tabs)]="tabs"
    swipeTab>
      <mat-tab (swipe)="onSwipe($event)">
        <ng-template mat-tab-label class="mat-tab-label-active">LIVE</ng-template>
        <div class="home-page ion-content event-page content content-md" padding="">
          <div class="fixed-content   "></div>
          <div class="scroll-content " (swipe)="onSwipe($event)">
            <section>
              <div class="in-play page-title"> <i class="fa fa-play-circle"></i>
                <span class="label">In Play</span>
              </div>
              <!-- <div class="in-play page-title item-block inplayPageTitle" >
        
                        <p class="noMatchFoundtitle">No In play Matches.</p>
        
                    </div>
                    <div class="in-play page-title item-block inplayPageTitle" >
        
                        <p class="noMatchFoundtitle">Loading...</p>
        
                    </div> -->
              <a > <span class="open-bets-link" >Open Bets (0)</span>
              </a>
              <div class="distinct ion-list market-list list list-md" *ngIf="inplayData.length!=0">
                <!-- <ion-item class="market-list-item item item-block item-md" data-ng-repeat="inplay in inplayData track by $index"> -->
                <div *ngFor="let inplay of inplayData | sortByDate:'matchDate';trackBy:identify">
                  <div  class="market-list-item item ion-item item-block item-md" *ngIf="inplay.SportbfId==='4'">
                    <div class="item-inner">
                      <div class="input-wrapper">
                        <div class="label ion-label label-md">
                          <a [routerLink]="['/fullmarket',inplay.SportbfId,inplay.TourbfId,inplay.matchId,inplay.marketId,inplay.mtBfId,inplay.bfId]">
                            <div class="popular-event">
                              <div class="event-details">
                                <i class="apl-icon-sport-cricket"><img height="20px" width="20px" src="assets/img/cricket.png"></i>
                                <!-- <i class="apl-icon-sport-kabaddi" data-ng-if="inplay.sportName=='Kabaddi'"><img src="images/kabaddi_black.png"></i> --> 
                                <span class="label">{{inplay.matchName}}</span>
                              </div>
                              <div class="in-play-icon"> <i class="fa fa-play-circle"></i>
                              </div>
                            </div>
                          </a>
                          <div class="list-body">
                            <div>
                              <div class="market list-item" id="selection-1.143169575-2954265">
                                <div class="runner-details">
                                  <div class="title"> <span>{{inplay.runner1Name}}</span>
                                  </div>
                                  <div class="pnl">
                                    <!-- <span></span> --> <span id="matchodd0_"></span>
                                  </div>
                                </div>
                                <div class="odds-container">
                                  <div type="back" class="bet-button not-selected" selected-odds>
                                    <div class="back back-1 spark" id="inplay__back1">
                                      <div class="price">{{inplay.runner1Back}}</div>
                                      <div class="market-volume">{{inplay.runner1BackSize}}</div>
                                    </div>
                                  </div>
                                  <div type="lay" class="bet-button not-selected" selected-odds>
                                    <div class="lay" id="inplay_1_lay1">
                                      <div class="price">{{inplay.runner1Lay}}</div>
                                      <div class="market-volume">{{inplay.runner1LaySize}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="closebetslip" id="betForm-1-2-0" style="display: none;">
                                <form class="bet-form"  style="transform: translateY(0px);">
                                  <div class="inputs">
                                    <div class="item-block odds-stepper input-group odds-stepper-group">
                                      <label class="label-md">Odds</label>
                                      <div class="stepper-input">
                                        <button class="minus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light" type="button"> <span class="button-inner">-</span>
                                          <div class="button-effect" style="transform: translate3d(-12px, -21px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 263ms, opacity 184ms 79ms;"></div>
                                        </button>
                                        <div class="item ion-item item-block item-md item-input input-has-value item-input-has-value input-has-focus item-input-has-focus">
                                          <div class="item-inner">
                                            <div class="input-wrapper">
                                              <div class="input ion-input input-md">
                                                <input class="text-input text-input-md" type="text" data-odds-input autocomplete="off">
                                                <div class="input-cover"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="button-effect"></div>
                                        </div>
                                        <button class="plus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light" type="button"> <span class="button-inner">+</span>
                                          <div class="button-effect" style="transform: translate3d(-18px, -16px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 263ms, opacity 184ms 79ms;"></div>
                                        </button>
                                      </div>
                                    </div>
                                    <div class="input-group input-group-stake">
                                      <label class="label-md">Stake</label>
                                      <div class="item ion-item item-block item-md item-input input-has-value item-input-has-value input-has-focus item-input-has-focus">
                                        <div class="item-inner">
                                          <div class="input-wrapper">
                                            <div class="input ion-input input-md no-liability ng-untouched ng-pristine ng-invalid">
                                              <input class="text-input text-input-md" type="text" maxlength="10" autocomplete="off">
                                              <div class="input-cover"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="button-effect"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="input-buttons">
                                    <button type="button" class="disable-hover button button-md button-default button-default-md button-small button-small-md button-md-cta-action"> <span class="button-inner"></span>
                                      <div class="button-effect"></div>
                                    </button>
                                  </div>
                                  <div class="input-buttons confirmation-buttons">
                                    <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-secondary" color="cta-secondary" ion-button="" type="button"> <span class="button-inner">Cancel</span>
                                      <div class="button-effect"></div>
                                    </button>
                                    <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-primary" color="cta-primary" ion-button="" type="submit"> <span class="button-inner">
          
                                                                      <span class="content action">Place Bet</span>
                                      <span class="content info">120120.00</span>
                                      </span>
                                      <div class="button-effect"></div>
                                    </button>
                                  </div>
                                  <div class="confirmation-control">Confirm bet before placing
                                    <div class="confirmation-toggle ion-toggle toggle toggle-md ">
                                      <div class="toggle-icon">
                                        <div class="toggle-inner"></div>
                                      </div>
                                      <button class="item-cover disable-hover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="checkbox" type="button"> <span class="button-inner"></span>
                                        <div class="button-effect" style="opacity: 0;"></div>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="market list-item">
                                <div class="runner-details">
                                  <div class="title"> <span>{{inplay.runner2Name}}</span>
                                  </div>
                                  <div class="pnl"> <span id="matchodd1_"></span>
                                  </div>
                                </div>
                                <div class="odds-container">
                                  <div type="back" class="bet-button not-selected" selected-odds>
                                    <div class="back" id="inplay_1_back2">
                                      <div class="price">{{inplay.runner2Back}}</div>
                                      <div class="market-volume">{{inplay.runner2BackSize}}</div>
                                    </div>
                                  </div>
                                  <div type="lay" class="bet-button not-selected" selected-odds>
                                    <div class="lay" id="inplay_2_lay2">
                                      <div class="price">{{inplay.runner2Lay}}</div>
                                      <div class="market-volume">{{inplay.runner2LaySize}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="closebetslip" id="betForm2-1-0-1" style="display: none;">
                                <form class="bet-form" style="transform: translateY(0px);">
                                  <div class="inputs">
                                    <div class="item-block odds-stepper input-group odds-stepper-group">
                                      <label class="label-md">Odds</label>
                                      <div class="stepper-input">
                                        <button class="minus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light" type="button"> <span class="button-inner">-</span>
                                          <div class="button-effect" style="transform: translate3d(-12px, -21px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 263ms, opacity 184ms 79ms;"></div>
                                        </button>
                                        <div class="item ion-item item-block item-md item-input input-has-value item-input-has-value input-has-focus item-input-has-focus">
                                          <div class="item-inner">
                                            <div class="input-wrapper">
                                              <div class="input ion-input input-md">
                                                <input class="text-input text-input-md" type="text" data-odds-input autocomplete="off">
                                                <div class="input-cover"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="button-effect"></div>
                                        </div>
                                        <button class="plus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light" type="button"> <span class="button-inner">+</span>
                                          <div class="button-effect" style="transform: translate3d(-18px, -16px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 263ms, opacity 184ms 79ms;"></div>
                                        </button>
                                      </div>
                                    </div>
                                    <div class="input-group input-group-stake">
                                      <label class="label-md">Stake</label>
                                      <div class="item ion-item item-block item-md item-input input-has-value item-input-has-value input-has-focus item-input-has-focus">
                                        <div class="item-inner">
                                          <div class="input-wrapper">
                                            <div class="input ion-input input-md no-liability ng-untouched ng-pristine ng-invalid">
                                              <input class="text-input text-input-md" type="text" maxlength="10" autocomplete="off">
                                              <div class="input-cover"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="button-effect"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="input-buttons">
                                    <button type="button" class="disable-hover button button-md button-default button-default-md button-small button-small-md button-md-cta-action"> <span class="button-inner"></span>
                                      <div class="button-effect"></div>
                                    </button>
                                  </div>
                                  <div class="input-buttons confirmation-buttons">
                                    <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-secondary" color="cta-secondary" ion-button="" type="button"> <span class="button-inner">Cancel</span>
                                      <div class="button-effect"></div>
                                    </button>
                                    <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-primary" color="cta-primary" ion-button="" type="submit"> <span class="button-inner">
          
                                                                      <span class="content action">Place Bet</span>
                                      <span class="content info">15240.00</span>
                                      </span>
                                      <div class="button-effect"></div>
                                    </button>
                                  </div>
                                  <div class="confirmation-control">Confirm bet before placing
                                    <div class="confirmation-toggle ion-toggle toggle toggle-md">
                                      <div class="toggle-icon">
                                        <div class="toggle-inner"></div>
                                      </div>
                                      <button class="item-cover disable-hover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="checkbox" type="button"> <span class="button-inner"></span>
                                        <div class="button-effect" style="opacity: 0;"></div>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="market list-item" *ngIf="inplay.runner3Name!=null">
                                <div class="runner-details">
                                  <div class="title"> <span>{{inplay.runner3Name}}</span>
                                  </div>
                                  <div class="pnl"> <span id="matchodd2_2"></span>
                                  </div>
                                </div>
                                <div class="odds-container">
                                  <div type="back" class="bet-button not-selected" selected-odds>
                                    <div class="back" id="inplay_3_back3">
                                      <div class="price">{{inplay.runner3Back}}</div>
                                      <div class="market-volume">{{inplay.runner3BackSize}}</div>
                                      <!-- <div data-ng-if="inplay.runner3BackSize>=500000">500,000+</div> --></div>
                                  </div>
                                  <div type="lay" class="not-selected bet-button" selected-odds>
                                    <div class="lay" id="inplay_4_lay3">
                                      <div class="price">{{inplay.runner3Lay}}</div>
                                      <div class="market-volume">{{inplay.runner3LaySize}}</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="closebetslip " id="betForm-12-13-2" style="display: none;">
                                <form class="bet-form" style="transform: translateY(0px);">
                                  <div class="inputs">
                                    <div class="item-block input-group odds-stepper odds-stepper-group">
                                      <label class="label-md">Odds</label>
                                      <div class="stepper-input">
                                        <button class="minus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light" type="button"> <span class="button-inner">-</span>
                                          <div class="button-effect" style="transform: translate3d(-12px, -21px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 263ms, opacity 184ms 79ms;"></div>
                                        </button>
                                        <div class="item ion-item item-block item-md item-input input-has-value item-input-has-value input-has-focus item-input-has-focus">
                                          <div class="item-inner">
                                            <div class="input-wrapper">
                                              <div class="input ion-input input-md">
                                                <input class="text-input text-input-md" type="text" data-odds-input autocomplete="off">
                                                <div class="input-cover"></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="button-effect"></div>
                                        </div>
                                        <button class="plus disable-hover button button-md button-default button-default-md button-small button-small-md button-md-light" type="button"> <span class="button-inner">+</span>
                                          <div class="button-effect" style="transform: translate3d(-18px, -16px, 0px) scale(1); height: 64px; width: 64px; opacity: 0; transition: transform 263ms, opacity 184ms 79ms;"></div>
                                        </button>
                                      </div>
                                    </div>
                                    <div class="input-group input-group-stake">
                                      <label class="label-md">Stake</label>
                                      <div class="item ion-item item-block item-md item-input input-has-value item-input-has-value input-has-focus item-input-has-focus">
                                        <div class="item-inner">
                                          <div class="input-wrapper">
                                            <div class="input ion-input input-md no-liability ng-untouched ng-pristine ng-invalid">
                                              <input class="text-input text-input-md" type="text" maxlength="10" autocomplete="off" placeholder="Max Bet: 1" data-numbers-only>
                                              <div class="input-cover"></div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="button-effect"></div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="input-buttons">
                                    <button type="button" class="disable-hover button button-md button-default button-default-md button-small button-small-md button-md-cta-action"> <span class="button-inner"></span>
                                      <div class="button-effect"></div>
                                    </button>
                                  </div>
                                  <div class="input-buttons confirmation-buttons">
                                    <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-secondary" color="cta-secondary" ion-button="" type="button"> <span class="button-inner">Cancel</span>
                                      <div class="button-effect"></div>
                                    </button>
                                    <button class="-large disable-hover button button-md button-default button-default-md button-md-cta-primary" color="cta-primary" ion-button="" type="submit"> <span class="button-inner">
          
                                                                      <span class="content action">Place Bet</span>
                                      <span class="content info">12000.00</span>
                                      </span>
                                      <div class="button-effect"></div>
                                    </button>
                                  </div>
                                  <div class="confirmation-control">Confirm bet before placing
                                    <div class="confirmation-toggle ion-toggle toggle toggle-md">
                                      <div class="toggle-icon">
                                        <div class="toggle-inner"></div>
                                      </div>
                                      <button class="item-cover disable-hover item-cover-md item-cover-default item-cover-default-md" ion-button="item-cover" role="checkbox" type="button"> <span class="button-inner"></span>
                                        <div class="button-effect" style="opacity: 0;"></div>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div style="display: none;">
                              <div class="market-suspended">
                                <div class="runners">
                                  <div>
                                    <div class="list-item">
                                      <div class="details">
                                        <div class="title">India</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div>
                                    <div class="list-item">
                                      <div class="details">
                                        <div class="title">Pakistan</div>
                                      </div>
                                    </div>
                                  </div>
                                  <div>
                                    <div class="list-item">
                                      <div class="details">
                                        <div class="title">Draw</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="suspended">
                                  <div class="inner">Suspended</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="button-effect"></div>
                  </div>
                </div>
                <div *ngFor="let inplay of inplayData | sortByDate:'matchDate';trackBy:identify">
                    <div *ngIf="inplay.SportbfId==='1'"  class="market-list-item item ion-item item-block item-md">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="label ion-label label-md">
                              <a class="" [routerLink]="['/fullmarket',inplay.SportbfId,inplay.TourbfId,inplay.matchId,inplay.marketId,inplay.mtBfId,inplay.bfId]">
                                <div class="popular-event">
                                  <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/soccer_ball.ico"></i>
                                    <span class="label ">{{inplay.matchName}}</span>
                                  </div>
                                  <div class="in-play-icon"> <i class="fa fa-play-circle"></i>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="button-effect"></div>
                    </div>
                </div>
                <div *ngFor="let inplay of inplayData | sortByDate:'matchDate';trackBy:identify">
                    <div *ngIf="inplay.SportbfId==='2'" class="market-list-item item ion-item item-block item-md">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="label ion-label label-md">
                              <a class="" [routerLink]="['/fullmarket',inplay.SportbfId,inplay.TourbfId,inplay.matchId,inplay.marketId,inplay.mtBfId,inplay.bfId]">
                                <div class="popular-event">
                                  <div class="event-details"> <i><i><img height="20px" width="20px" src="assets/img/tennis_ball.ico"></i></i> 
                                    <span class="label ">{{inplay.matchName}}</span>
                                  </div>
                                  <div class="in-play-icon"> <i class="fa fa-play-circle"></i>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="button-effect"></div>
                      </div>
                </div>
              </div>
              <div class="distinct ion-list market-list list list-md" *ngIf="inplayData.length==0">
                <h5>No Inplay Events...</h5>
              </div>
            </section>
          </div>
        </div>
      </mat-tab>
      <mat-tab (swipe)="onSwipe($event)">
        <ng-template mat-tab-label>UPCOMING</ng-template>
        <div class="home-page ion-content event-page content content-md" padding="">
          <div class="fixed-content   "></div>
          <div class="scroll-content " (swipe)="onSwipe($event)">
            <section>
              <div class="in-play page-title">
                <!-- <i class="fa fa-play-circle"></i>
        
                        <span class="label">In Play</span> -->
              </div>
              <!-- <div class="in-play page-title item-block inplayPageTitle" >
        
                        <p class="noMatchFoundtitle">No In play Matches.</p>
        
                    </div>
                    <div class="in-play page-title item-block inplayPageTitle" >
        
                        <p class="noMatchFoundtitle">Loading...</p>
        
                    </div> -->
              <a > <span class="open-bets-link">Open Bets (0)</span>
              </a>
              <div class="distinct ion-list market-list list list-md" *ngIf="upcomingEvents.length!=0">
                <div *ngFor="let upcoming of upcomingEvents | sortByDate:'matchDate';trackBy:identify">
                    <div *ngIf="upcoming.SportbfId==='4'" class="market-list-item ion-item item item-block item-md">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="label ion-label label-md">
                              <a class="" [routerLink]="['/fullmarket',upcoming.SportbfId,upcoming.TourbfId,upcoming.matchId,upcoming.marketId,upcoming.mtBfId,upcoming.bfId]">
                                <div class="popular-event">
                                  <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/cricket.png"></i>
                                    <span class="label ">{{upcoming.matchName}}</span>
                                    <p class="date-info"> <span class="">{{upcoming.matchDate}}</span>
                                    </p>
                                  </div>
                                  <div class="in-upcomming-icon"> <i class="fa fa-clock-o fa-2"></i>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="button-effect"></div>
                    </div>
                </div>
                <div *ngFor="let upcoming of upcomingEvents | sortByDate:'matchDate';trackBy:identify">
                    <div *ngIf="upcoming.SportbfId==='1'" class="market-list-item ion-item item item-block item-md">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="label ion-label label-md">
                              <a class="" [routerLink]="['/fullmarket',upcoming.SportbfId,upcoming.TourbfId,upcoming.matchId,upcoming.marketId,upcoming.mtBfId,upcoming.bfId]">
                                <div class="popular-event">
                                  <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/soccer_ball.ico"></i>
                                    <span class="label ">{{upcoming.matchName}}</span>
                                    <p class="date-info"> <span class="">{{upcoming.matchDate}}</span>
                                    </p>
                                  </div>
                                  <div class="in-upcomming-icon"> <i class="fa fa-clock-o fa-2"></i>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="button-effect"></div>
                    </div>
                </div>
                <div  *ngFor="let upcoming of upcomingEvents | sortByDate:'matchDate';trackBy:identify">
                    <div *ngIf="upcoming.SportbfId==='2'" class="market-list-item ion-item item item-block item-md">
                        <div class="item-inner">
                          <div class="input-wrapper">
                            <div class="label ion-label label-md">
                              <a class="" [routerLink]="['/fullmarket',upcoming.SportbfId,upcoming.TourbfId,upcoming.matchId,upcoming.marketId,upcoming.mtBfId,upcoming.bfId]">
                                <div class="popular-event">
                                  <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/tennis_ball.ico"></i>
                                    <span class="label ">{{upcoming.matchName}}</span>
                                    <p class="date-info"> <span class="">{{upcoming.matchDate}}</span>
                                    </p>
                                  </div>
                                  <div class="in-upcomming-icon"> <i class="fa fa-clock-o fa-2"></i>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="button-effect"></div>
                    </div>
                </div>
              </div>
              <div class="distinct ion-list market-list list list-md" *ngIf="upcomingEvents.length==0">
                <h5>No Upcoming Events</h5>
              </div>
            </section>
          </div>
        </div>
      </mat-tab>
      <mat-tab (swipe)="onSwipe($event)">
        <ng-template mat-tab-label>RECENT</ng-template>
        <div class="home-page ion-content event-page content content-md" padding="">
          <div class="fixed-content   "></div>
          <div class="scroll-content " (swipe)="onSwipe($event)">
            <section>
              <div class="in-play page-title">
              </div>
              <!-- <div class="in-play page-title item-block inplayPageTitle" >
        
                        <p class="noMatchFoundtitle">No Recent Matches.</p>
        
                    </div>
                    <div class="in-play page-title item-block inplayPageTitle" >
        
                        <p class="noMatchFoundtitle">Loading...</p>
        
                    </div> -->
              <a > <span class="open-bets-link">Open Bets (0)</span>
              </a>
              <div class="distinct ion-list market-list list list-md">
                <div class="market-list-item ion-item item item-block item-md">
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <div class="label ion-label label-md">
                        <a class="">
                          <div class="popular-event">
                            <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/tennis_ball.ico"></i>
                              <span class="label ">Mager v Musetti</span>
                              <p class="date-info"> <span class="">12-11-2019 23:00:00</span>
                              </p>
                            </div>
                            <div class="in-play-icon">
                              <!-- <i class="fa fa-play-circle"></i> -->
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="button-effect"></div>
                </div>
                <div class="market-list-item ion-item item item-block item-md">
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <div class="label ion-label label-md">
                        <a class="">
                          <div class="popular-event">
                            <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/tennis_ball.ico"></i>
                              <span class="label ">Mager v Musetti</span>
                              <p class="date-info"> <span class="">12-11-2019 23:00:00</span>
                              </p>
                            </div>
                            <div class="in-play-icon">
                              <!-- <i class="fa fa-play-circle"></i> -->
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="button-effect"></div>
                </div>
                <div class="market-list-item ion-item item item-block item-md">
                  <div class="item-inner">
                    <div class="input-wrapper">
                      <div class="label ion-label label-md">
                        <a class="">
                          <div class="popular-event">
                            <div class="event-details"> <i><img height="20px" width="20px" src="assets/img/tennis_ball.ico"></i>
                              <span class="label ">Mager v Musetti</span>
                              <p class="date-info"> <span class="">12-11-2019 23:00:00</span>
                              </p>
                            </div>
                            <div class="in-play-icon">
                              <!-- <i class="fa fa-play-circle"></i> -->
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="button-effect"></div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

<app-search></app-search>